// Footer demo styles
// ---------------------------------------

.global-footer {

    background: $codeBackgroundColour;
    color: $captionColour;
    padding: 3rem 0 4rem 0;
    text-align: center;

  img {
    height: 3rem;
  }

  p {
    font-family: unquote(map-get($headingtype, font-family));
    font-style: normal;
    font-weight: map-get($headingtype, regular);
    margin: 0;

    @include fontsize(eta, all);
  }
}