// Global demo styles
// ---------------------------------------

* {
  @include ease;
}

body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

header {
  text-align: center;
  padding-top: 1rem;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background: $white url('../img/wakeup.svg') no-repeat center center;
  width: 100%;
  border-bottom: 1px solid $bodyColour;

  .nav {
    width: 50%;
    float: left;
      &.left {
        text-align:right;
        padding-right: 60px;
        & ul li:first-child { margin-right:20px; }
      }
      &.right {
        text-align:left;
        padding-left: 60px;
        & ul li:first-child { margin-right:20px; }
      }
  }

  & ul li {
    display: inline;
    font-family: unquote(map-get($headingtype, font-family));
  }
}


// Custom

div#about {
  padding-bottom: 0;
}

.logo {
  height: 2rem;
}

.single,
.column--trio {
  text-align: center;
}

p.submit {
  margin-bottom: 1.15rem;
}

.img-about {
  height: 8rem;
}

.social {
  background: url('../img/workshop.jpg') no-repeat center top;
  @include grayscale;
  background-size: cover;
  color: $white;
  height: 25rem;
  & ul li {
    display: inline;
    padding: 0 10px;
    & img {
      height: 3rem;
      width: auto;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

// Video

video {
  width: 100%;
  @include grayscale;
  display: none;
  @include breakpoint(break-1) {
    display: block;
  }
}

#container {
  position: relative;
  overflow: hidden;
  height: 25rem;
  margin-top: 2rem;
  // Video fallback
    background: url(../img/graving.jpg) no-repeat top center;
    background-size: cover;
}

#container .content {
  position: absolute;
  top: 2rem;
  left: 50%;
  color: $white;
  margin-left: -300px;
  width: 600px;
  & h1 {
    color: $white;
  }
  & .button {
    color: $white;
    border: 1px solid $white;
    &:hover {
      border: 1px solid $linkColour;
    }
  }
}

// Portfolio

.my-gallery {
  margin: 0 auto;
  text-align: center;
  & figure {
    display: inline-block;
    margin: 0rem 0.4rem 1rem 0.4rem;
  }
}

.my-gallery figure a img {
  height: 15rem;
  @include grayscale;
  cursor: -webkit-zoom-in;
  &:hover {
    filter: none;
    -webkit-filter: none;
    -o-filter: none;
    -moz-filter: none;
  }
}

figcaption {
  display: none;
}